*.bin
*.blend1
*.fbx
*.map
*.modeltexture
*.zip
*.dae
/images/256x128.imd
/images/ceil.imd
/images/east.imd
/images/floor.imd
/images/north.imd
/images/south.imd
/images/west.imd
/multi-4bpp/images/0.imd
/multi-4bpp/images/00.imd
/multi-4bpp/images/1.imd
/multi-4bpp/images/2.imd
/multi-4bpp/images/3.imd
/multi-4bpp/images/4.imd
/multi-4bpp/images/5.imd
/multi-4bpp/images/6.imd
/multi-4bpp/images/7.imd
/multi-4bpp/images/8.imd
/multi-4bpp/images/sea.imd
*.bak
