<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ee1Dec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ee1Dec.Properties.Settings>
            <setting name="enterprisedir" serializeAs="String">
                <value>H:\Proj\khkh_xldM\MEMO\trac\</value>
            </setting>
            <setting name="expsimdir" serializeAs="String">
                <value>H:\Proj\khkh_xldM\MEMO\expSim</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value>rc1</value>
            </setting>
            <setting name="TraclistXml" serializeAs="String">
                <value>H:\Proj\khkh_xldM\ee1Dec\Traclist.xml</value>
            </setting>
        </ee1Dec.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
