<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ef1Declib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ef1Declib.Properties.Settings>
            <setting name="eerambin" serializeAs="String">
                <value>H:\Proj\khkh_xldM\MEMO\expSim\rc1\eeram.bin</value>
            </setting>
            <setting name="dirlib" serializeAs="String">
                <value>H:\Proj\khkh_xldM\MEMO\expSim\rc1</value>
            </setting>
            <setting name="pressdir" serializeAs="String">
                <value>H:\Proj\khkh_xldM\MEMO\pressram</value>
            </setting>
        </ef1Declib.Properties.Settings>
    </userSettings>
</configuration>