<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="traceHLP3.Properties.Settings.HLPConnectionString"
            connectionString="Data Source =&quot;|DataDirectory|\HLP.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client" />
        <add name="traceHLP3.Properties.Settings.HLPWrittenConnectionString"
            connectionString="Data Source =&quot;|DataDirectory|\HLP-written.sdf&quot;" />
    </connectionStrings>
</configuration>